<!--Existing User Login-->
<div class="container">

    <!--Existing User Login-->
    <div class="row mt-5">
        <div class="card px-0 shadow">
            <h5 class="card-header bg-dark text-white">Current User Login</h5>
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input id="inputEmail" type="email" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input id="inputPassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="log-in-button" type="submit" class="btn btn-info">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Prompt for New User Sign Up-->
    <div class="row mb-3 text-center fs-5 mt-5">
        <p> If you are not an existing user, <a href="/api/users/signup" style="color: #0dcaf0;" class="fw-bold">please
                click here to sign up!</a> </p>
    </div>

</div>

<!--Script for login-->
<script src="/js/login.js"></script>
