<div class="container">
  <div class="profile_alignText profile_background">
    <h2>Welcome, {{name}}!</h2>
  </div>
  <h4>Family Member</h4>
  <div class="row">
    <div class="col-6">
      <p>Type: Name</p>
    </div>
  </div>
  <div class="profile_background">
    <h4>Current Task:</h4>
    <div class="row">
      <div class="col-6 ">
        <h5>Task Title</h5>
      </div>
      <div class="col-6 profile_alignText">
        <p>Due Date</p>
        <p>Assigned by</p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <p>Task Description</p>
      </div>
    </div>
  </div>
</div>